* {
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  width: auto;
  height: auto;
  padding: 25px;
  background-color: white;
  font-size: 25px;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgb(31, 61, 143) 3%,
    rgb(0, 70, 136) 11%,
    rgb(2, 38, 153) 33%,
    rgb(0, 90, 194) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

h1 {
  font-family: "Silkscreen";
  font-size: 60px;
  text-align: center;
  padding-top: 1%;
  position: relative;
  margin: 0 auto;
  align-items: center;
}
h1:hover {
  color: grey;
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style-type: none;
  
  
  

}

li a {
  font-family: "Silkscreen";
  font-size: 19px;
  text-decoration: none;
  padding-top: 5px;
  padding-left: 20px;
  
}

a:hover {
  color: grey;
}

.video {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
}
h2 {
  font-family: "Silkscreen";
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 150px;
  margin: auto;
  overflow: auto;

  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}
h3 {
  font-family: "Silkscreen";
  font-size: 15px;
  text-align: center;
  position: relative;
  top: 250px;
}

h4 {
  font-family: "Silkscreen";
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 150px;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}


p{
  font-family: "Silkscreen";
  flex: 1 1 0%;
  padding: 2rem 1rem;
  max-width: 700px;
  width: 100%;
  text-align: left;
  margin: 0 auto;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: flex;
  top: 0;
  left: 0;
  margin: auto;
}



body{
  display: grid
  overflow: hidden
}

.btn-circle-download
  position: relative
  height: 48px
  width: 48px
  margin: auto
  border-radius: 100%
  background: #E8EAED
  cursor: pointer
  overflow: hidden
  transition: all .2s ease
  &:after
    content: ""
    position: relative
    display: block
    width: 200%
    height: 100%
    background-image: linear-gradient(100deg, rgba(white,0), rgba(white,.25),rgba(white,0))
    transform: translateX(-100%)
  svg
    stroke-width: 2
    stroke-linecap: round
    stroke-linejoin: round
    fill: none
    &#border
      position: absolute
      top: 0
      left: 0
      stroke: none
      stroke-dasharray: 144
      stroke-dashoffset: 144
      transition: all .9s linear
    &#arrow
      position: absolute
      top: 14px
      left: 17px
      stroke: #9098A9
      transition: all .2s ease
    &#check
      position: absolute
      top: 17px
      left: 13px
      stroke: white
      transform: scale(0)
  &:hover
    background: rgba($color,.2)
    #arrow
      path,
      polyline
        stroke: $color
  &.load
    background: rgba($color,.2)
    #arrow
      path,
      polyline
        stroke: $color
    #border
      stroke: $color
      stroke-dasharray: 144
      stroke-dashoffset: 0
  &.done
    background: $color
    animation: rubberBand .8s
    &:after
      transform: translateX(50%)
      transition: transform .4s ease
      transition-delay: .7s
    #border,
    #arrow
      display: none
    #check
      transform: scale(1)
      transition: all .2s ease
      transition-delay: .2s

@keyframes rubberBand
  from
    transform: scale(1, 1, 1)
  30%
    transform: scale3d(1.15, 0.75, 1)
  40%
    transform: scale3d(0.75, 1.15, 1)
  50%
    transform: scale3d(1.10, 0.85, 1)
  65%
    transform: scale3d(.95, 1.05, 1)
  75%
    transform: scale3d(1.05, .95, 1)
  to
    transform: scale3d(1, 1, 1)
    
//dribbble 
.credit
  position: fixed
  right: 20px
  bottom: 20px
  transition: all .2s ease
  -webkit-user-select: none
  user-select: none
  opacity: .6
  img
    width: 72px
  &:hover
    transform: scale(.95)




  